<form [formGroup]="authForm">
  <div class="form-group">
    <label for="usernameId">username</label>
    <input
      type="email"
      class="form-control"
      formControlName="username"
      id="usernameId"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    {{ authForm.get("username").errors | json }}
  </div>
  <div class="form-group">
    <label for="passwordId">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="passwordId"
      placeholder="Password"
    />
  </div>
  {{ authForm.get("password").errors | json }}

  <div class="form-group">
    <label for="passwordConfirmationId">Password Confirmation</label>
    <input
      type="password"
      class="form-control"
      formControlName="passwordConfirmation"
      id="passwordConfirmationId"
      placeholder="Password Confirmation"
    />
  </div>
  {{ authForm.get("passwordConfirmation").errors | json }}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
